@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-syne: var(--font-syne), sans-serif;
  --font-bodoni: var(--font-bodoni), serif;
  --font-six-caps: var(--font-six-caps), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-federo: var(--font-federo), sans-serif;
  --font-tiktok: var(--font-tiktok), sans-serif;
  --font-oswald: var(--font-oswald), sans-serif;
  --font-archivo: var(--font-archivo), sans-serif;
  --font-manrope: var(--font-manrope), sans-serif;
  --font-architects: var(--font-architects-daughter), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
